<div class="pokemon-selector">
  <label>Select up to 6 Pokémon:</label>
  <div *ngIf="loading">Loading Pokémon...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div class="dropdown-container">
    <input type="text"
           placeholder="Type to search..."
           [(ngModel)]="filter"
           (focus)="onInputFocus()"
           (blur)="onInputBlur()">
    <div class="dropdown-list" *ngIf="dropdownOpen && pokemonList.length">
      <div class="dropdown-item"
           *ngFor="let name of pokemonList"
           (mousedown)="toggleSelect(name)">
        {{ name }}
      </div>
    </div>
    <div class="dropdown-list empty" *ngIf="dropdownOpen && !pokemonList.length && !loading">
      <em>No results</em>
    </div>
  </div>
</div>
