<div class="type-chart" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div *ngIf="loading">Loading type chart...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="!loading && !error && types.length">
    <!-- Show summary by default; show chart on hover -->
    <ng-container *ngIf="!showChart; else chartBlock">
      <div class="pokemon-header">
        <img *ngIf="spriteUrl" [src]="spriteUrl" [alt]="pokemonName" class="pokemon-sprite" />
        <span class="pokemon-name">{{ pokemonName | titlecase }}</span>
        <span class="type-chips">
          <span *ngFor="let t of types" class="type-badge type-{{t}}">{{ t | titlecase }}</span>
        </span>
      </div>
    </ng-container>
    <ng-template #chartBlock>
      <div class="types">
        <span *ngFor="let t of types" class="type-badge type-{{t}}">{{ t | titlecase }}</span>
      </div>
      <button class="toggle-btn" (click)="toggleShowAll()">
        {{ showAll ? 'Hide neutral (x1)' : 'Show all types' }}
      </button>
      <table class="effectiveness-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>DMG</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let type of displayedTypes">
            <td><span class="type-badge type-{{type}}">{{ type | titlecase }}</span></td>
            <td>
              <span [ngClass]="{
                'immune': effectiveness[type] === 0,
                'weak': effectiveness[type] > 1,
                'resist': effectiveness[type] > 0 && effectiveness[type] < 1,
                'neutral': effectiveness[type] === 1
              }">x{{ effectiveness[type] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
